body{
    margin-left: 10px;
    width: auto;
}

#headerLocation {
    background-color: gray;
    text-align: center;
    color: white;
    height: 100px;
    width: auto;
}

.label{
    font-size: 20px;
}

table {
    margin-left: 20px;
    margin-right: auto;
    border-collapse: collapse;
    border: 2px solid black;
}

th, td {
    padding: 8px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    width: 140px;
    height: 20px;
    
}

th {
    background-color: lightgrey;
}

#lastRow {
    background-color: black;
}

.salaryCell{
    text-align: right;
}

.deleteCell{
text-align: center;
}